{% extends 'layout_admin.html' %}
{% load static %}


{% block title %}Checkout {% endblock title %}
{% block extrastylesheets %}

{% endblock extrastylesheets %}

{% block section %}
<script src="http://localhost:8000/static/lipila_sdk/lipila_sdk.js"></script>


<div class="checkout-container">
    <div class="checkout-txt">
        <h5>Support {{payee}}</h5>
    </div>
    {% include 'reusables/_modal.html' %}    
    </div>

    <div class="logo-buttons">
        <button class="payment-button" id="mtn-button">
            <img src="{% static 'assets/img/api/mtn.png' %}" alt="MTN">
        </button>
    </div>
    <button class="btn-withdraw" type="button" data-toggle="modal" data-target="#paymentModal">
                Collect Payment
            </button>

</div>
{% endblock section %}
{% block extrascripts %}
<script>
        const apiKey = "65b9a9ce-3511-417e-8bf0-3af4ce8d3d38";
        const appId = "100000";

        const sdk = new LipilaSDK("http://localhost:8000/lipila_sdk/submit_bill_collection/");
        sdk.renderForm("lipila-form-container");

        document.getElementById("lipila-form").elements["appId"].value = appId;
        document.getElementById("lipila-form").elements["apiKey"].value = apiKey;
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var paymentButton = document.getElementById('mtn-button');
                
        var paymentModal = document.getElementById('payment-modal');
        
        var closepaymentModal = document.getElementById('close-payment-modal');
       
        paymentButton.addEventListener('click', function () {
            paymentModal.style.display = 'flex';
        });

        
        closepaymentModal.addEventListener('click', function () {
            paymentModal.style.display = 'none';
        });
        
        window.addEventListener('click', function (event) {
            if (event.target == paymentModal) {
                paymentModal.style.display = 'none';
            }
        });
    });
</script>
{% endblock extrascripts %}