{% extends 'layout_dark.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load patron_tags %}
{% load custom_filters %}
{% block title %} Support {{creator.patron_title}} on Luso | Exclusive Content & More {% endblock %}

{% block extrastylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="{% static 'file_manager/css/style.css' %}" rel="stylesheet">
{% if not user.is_authenticated %}
<link href="{% static 'assets/css/header.css' %}" rel="stylesheet">
{% endif %}
{% endblock extrastylesheets %}

{% block section %}
<script src="http://localhost:8000/static/lipila_sdk/lipila_sdk.js"></script>
{% include 'lipila/modals/loader.html' %}
{% include 'reusables/_modal.html' %}
{% include "lipila/modals/_confirmation_payment.html" %}
{% include "reusables/_header_frontend.html" %}
<div id="creator-container-home" class="creator-container-home">
    <div class="creator-profile column-ctr">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="user-image">
                <button class="btn btn-secondary">
                    {% if creator.profile_image %}
                    {% if creator.profile_image.url %}
                    <img src="{{ creator.profile_image.url }}" height="100" width="100">
                    {% endif %}
                    {% else %}
                    <img src="{% static 'assets/img/avator.jpeg' %}" height="100" width="100">
                    {% endif %}
                </button>
            </div>
            {% if creator.is_verified %}
            <span class="badge badge-success">Verified</span>
            
            {% endif %}
            <span class="category">{{creator.creator_category}}</span>
            <span class="name mt-3">@{{creator.patron_title}}</span>
            <div class="creator-footer creator-items">
                <p class="tier-url">{{ url }}</p>
                <span class="tier-url" data-url="{{ url }}">
                    <button class="copy-btn creator-items" data-clipboard-text="{{ url }}">
                        <i>Copy</i>
                    </button>
                </span>
            </div>
            {% if creator.about %}
            <div class="details"> <span>{{creator.about}} </span> </div>
            {% endif %}
            <div class="tier-content">
                {% if tiers %}
                <!--  Section Title -->
                {% endif %}
                {% for tier in tiers %}
                {% if tier.visible_to_fans %}
                <div class="tier-card">
                    <div class="tier-texts">
                        <h5 class="title">{{ tier.name }}</h5>
                        <span class="price">K{{ tier.price }}/Onetime</span>
                        <p class="description">{{ tier.description }}</p>
                    </div>
                    
                    <div class="">
                        <form action="{% url 'checkout_momo' creator.patron_title %}" method="get">
                            {% csrf_token %}
                            <input type="hidden" name="amount" id="amount" value={{tier.price}}>
                            <input type="hidden" name="tier_name" id="tier_name" value={{creator}}>

                            <input type="hidden" value="{{creator.user}}" id="creator">
                            <input type="hidden" value="{{request.user}}" id="user">
                            <button class="" type="button" data-toggle="modal" data-target="#paymentModal">
                                Support Me
                            </button>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span>
    </div>

</div>

<div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">{{patrons}}
        <span class="follow">Patrons</span></span>
</div>
{% include 'reusables/_footer.html' %}
<!-- Scroll Top Button -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
{% endblock section %}
{% block extrascripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const apiKey = "65b9a9ce-3511-417e-8bf0-3af4ce8d3d38";
        const appId = "100000";

        const sdk = new LipilaSDK("http://localhost:8000/lipila_sdk/submit_bill_collection/");
        sdk.renderForm("lipila-form-container");

        document.getElementById("lipila-form").elements["appId"].value = appId;
        document.getElementById("lipila-form").elements["apiKey"].value = apiKey;

        var formTitle = document.getElementById('title').innerHTML = 'Pay with Lipila';
                
    });
</script>

{%endblock extrascripts%}